.container {
  display: block;
  padding: 10px;
}

.wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px auto;
  padding: 10px;
  border-radius: 10px;
  width: 260px;

  color: #3f51b5;
  box-shadow: inset 0px 0px 3px 0px #3f51b5;
}

.ten {
  background-color: #fff700;
}

.minusTen {
  background-color: #00ffff;
}
.plusThirteen {
  background-color: #ff8c00;
}

.slider {
  display: flex;
  justify-content: center;
}
